extends layout

block content
  h1 Questo è un progetto per una webcam sul browser. Con #{title}.
  h2 Pazientate ancora un pò. Ci sto lavorando su.
  p Nel mentre osserva questo brontosauro quì sotto.
  img(src='/images/bronto.png', alt='Quì un brontosauro verde.')
