extends layout

block content
  h1 Questo è un progetto per una webcam sul browser. Con #{title}.
  p Pazientate ancora un pò. Ci sto lavorando su.
  img(src='/images/bronto.png', alt='Quì un brontosauro verde.')
