extends layout

block content
  h1 Questo è un progetto per una webcam sul browser. Con #{title}.
  p Pazientate ancora un pò. Ci sto lavorando su.

  canvas#canvas
  script(src='jsmpeg.min.js')
  script.
    new JSMpeg.Player('ws://' + location.host + '/api/stream', {
    canvas: document.getElementById('canvas')
    })
